<div class="span11", style="padding-left: 135px">
  <div style="margin-left: auto; margin-right: auto; width: 1000px;">
    <% @stores.each do |store| %>
      <h3 style="font-size: 600%; margin-bottom: 60px;"><%= link_to store.name, home_url(subdomain: store.path) %></h3>
      <br />
    <% end %>
  </div>
</div>
