<h3>Admins</h3>
<%= simple_form_for admin, url: admin_create_role_path do |s| %>
  <%= s.hidden_field :role, value: :admin %>
  <%= s.input :email %>
  <%= s.submit "Add Admin", class: "btn btn-custom-lighten span2" %>
<% end %>
