<tr>
  <td><%= admin.email %></td>
  <td>
    <% if admin != current_user %>
      <%= link_to 'Remove',
                  admin_revoke_role_path(user_id: admin),
                  method: :delete,
                  confirm: "are you sure?" %>
    <% end %>
  </td>
</tr>
