<div id="main" role="main">
  <div class="lead_background">
    <div class="lead_text">
      <p class="white", style="text-shadow: 2px 2px 2px #4d4d4d; font-size: 450%; font-family: helvetica; font-weight: bold;">Welcome to Robofy.</p><br/><br/>
      <p class="white", style="text-shadow: 1px 1px 1px #4d4d4d; font-size: 250%">Shop for the most powerful robots on Planet Earth</p>
    </div>
  </div>
</div>
